Flask_RESTful==0.3.8
requests==2.23.0
Flask_WTF==0.14.3
WTForms==2.2.1
SQLAlchemy==1.3.16
Werkzeug==2.2.3
pymorphy2==0.8
SQLAlchemy_serializer==1.3.4.2
Flask==1.1.1
Flask_Login==0.5.0
Flask_GoogleCharts==0.1.0
gunicorn==20.0.4
