header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
  	color: #fff;
  	background-color: #14213d;
    margin-bottom: 30px
}

.header-left a{
  font: normal 60px 'Fugaz One', cursive;
	color: #fca311;
  text-decoration: none;
}

.header-center ul{
	list-style: none;
}

.header-center ul li{
	display: inline-block;
	margin: 0 15px;
}

.header-center ul li a{
	color: #fca311;
	cursor: pointer;
	font-weight: normal;
  font-size: 24px;
  font-family: 'Fugaz One'
}

body {
  background: #e5e5e5;
}

form.register-form, form.login-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px
}
form.register-form h2, form.login-form h2 {
  text-align: center;
  font: normal 40px 'Fugaz One', cursive;
  color: #14213d;
}

form.register-form label, form.login-form label {
  font: normal 20px 'Fugaz One', cursive;
  color: #14213d;
}
