header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
  	color: #fff;
  	background-color: #14213d;
    margin-bottom: 30px
}

.header-left a{
  font: normal 60px 'Fugaz One', cursive;
	color: #fca311;
  text-decoration: none;
}

.header-center ul{
	list-style: none;
}

.header-center ul li{
	display: inline-block;
	margin: 0 15px;
}

.header-center ul li a{
	color: #fca311;
	cursor: pointer;
	font-weight: normal;
  font-size: 24px;
  font-family: 'Bitter', serif;
}

body {
  background: #e5e5e5;
}

form.register-form, form.login-form, form.beautify-form, form.token-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px
}

form.result-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px
}

form.register-form h2, form.login-form h2, form.beautify-form h2, form.result-form h2, form.token-form h2{
  text-align: center;
  font: normal 40px 'Bitter', serif;
  color: #14213d;
}

form.register-form label, form.login-form label {
  font: normal 20px 'Bitter', serif;
  color: #14213d;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline-color: #fca311;
  outline-width: 2px;
  border: 1px solid #fca311;
  resize: none;
  wrap: off;
  overflow: auto;
  min-height: 500px;
  width: 800px;
  font-size: 20px;
  border-radius: 10px;
}

input.token {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}

div.cont {
  border: 2px solid #fca311;
  border-radius: 10px;
  text-align: center;
}

div.head {
  font: normal 18px 'Bitter', serif;
  background-color: #14213d;
  color: #fca311;
  height: 150%;
  border: 1px solid #fca311;
}

div.body {
  font-size: 15pt;
  background-color: #ffffff;
  color: #14213d;
  height: 150%;
  border: 1px solid #fca311;
}

div.table {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fca311;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

table {
  text-align: center;
  width: 100%;
}

th, td, thead, tbody {
  border: 2px solid #fca311;
}

th {
  font: normal 17pt 'Bitter', serif;
  background-color: #14213d;
  color: #fca311;
}

td {
  font-size: 15pt;
  background-color: #ffffff;
  color: #14213d;
}
